@page
@model introduccion_RAZOR.Pages.EjercicioArreglosModel
@{
}

<h1>Números Aleatorios</h1>

<p>Arreglo Aleatorio: @string.Join(", ", Model.Numeros)</p>
<p>Suma: @Model.Suma</p>
<p>Promedio: @Model.Prom</p>
<p>Arreglo Ordenado: @string.Join(", ", Model.NumOrdenados)</p>
<p>Moda: @string.Join(", ", Model.Modas)</p>
<p>Mediana: @Model.Mediana</p>